{% extends './plantilla.html' %}
{% block contenido %}
<br> <br> <br> <br> <br> <br> <br> <br>
<div class="container text-center mt-5 py-5 position-relative" 
     style="background: url('') no-repeat center center; 
            background-size: cover; 
            border-radius: 15px; 
            color: rgb(46, 6, 110);">
    
    <div style="background-color: rgba(178, 196, 215, 0.5); padding: 40px; border-radius: 15px;">
        <h1 class="display-4">Bienvenido al Sitio Web</h1>
        <h2 class="lead mt-3">Registra Tu Matricula</h2>
        <h3 class="mt-4">¡Encuentra Un Curso!</h3>
        
        
    </div>
</div>

<br> <br> <br> <br><br>
{% endblock %}
